* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    fonrcolor: white;
}

.topnav {
    text-align: left;
    padding: 5px;
}

.recipe-thumbnails {
    border: 1px solid black;
    font-size: 20px;
}

.recipe-card {
    border: 1px solid rgb(30, 0, 255);
    font-size: 20px;
}

.list {
    border: 1px solid rgb(244, 3, 3);
    margin-top: 10px;
    padding: 5px;
}

img {
    width: 300px;
}

.one, .two , .three {
    background-color: rgb(230, 230, 250);
}

/* link styling */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}