* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 0;
    margin: 0;

}

.topnav {
    text-align: left;
    padding: 5px;
}

.header {
    font-size: 30px;
    width: 420px;
    margin: 5px;
    background-color: rgb(230, 230, 250);
}

.flex-container {
    display: flex;
}

.recipe-card {
    background-color: rgb(230, 230, 250);
    padding: 10px;
    text-align: ;
}

img {
    display: block;
    max-width: 400px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.one, .two , .three {
    background-color: rgb(230, 230, 250);
    padding: 10px;
    margin: 5px;
}

/* link styling */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}